@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>

<h5>Description:</h5>
@* For security reasons MVC will escape by default *@
@* any HTML content that is written to the view. *@ 
@* Escaping HTML content prevents the browser from rendering it. *@
@* To prevent MVC from doing that, we can use the HTML.Raw method *@
@* to write the value to view. *@
@* Unfortunately the ViewBag can't see if you miss spell. *@
<div>@Html.Raw(Model.DescriptionHtml)</div>

@* Will only render if artists.Length is greater than 0 *@
@if (Model.Artists.Length > 0)
{
    /* This part of the view will only render when the artist array has elements */
    <h5>Artists:</h5>
    <div>
        <ul>
            @foreach (var artist in Model.Artists)
        {
                <li>@artist.Role: @artist.Name</li>
            }
        </ul>
    </div>
}
