@{
    Layout = null;

    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last great act of revenge! Even if Spider Man survives...<strong>will Peter Parker?</strong></p>";
    var artists = new string[]
    {
        /* To comment out multiple lines, select the lines, hold down the ctrl + k following by c */
        /* To uncomment, select the lines, hold down ctrl + k following by u */
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edgar Delgado",
        "Letters: Chris Eliopoulos"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>

        <h5>Description:</h5>
        @* For security reasons MVC will escape by default *@
        @* any HTML content that is written to the view. *@ 
        @* Escaping HTML content prevents the browser from rendering it. *@
        @* To prevent MVC from doing that, we can use the HTML.Raw method *@
        @* to write the value to view. *@
        <div>@Html.Raw(description)</div>

        @* Will only render if artists.Length is greater than 0 *@
        @if (artists.Length > 0)
        {
            /* This part of the view will only render when the artist array has elements */
            <h5>Artists:</h5>
            <div>
                <ul>
                    @foreach (var artist in artists)
                {
                        <li>@artist</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
